services/model-workers/models/**/*.pkl filter=lfs diff=lfs merge=lfs -text
services/model-workers/models/**/*.safetensors filter=lfs diff=lfs merge=lfs -text
services/model-workers/models/**/*.pth filter=lfs diff=lfs merge=lfs -text
